@import "../../scss/color.scss";

.album-cta {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 400px;
        height: 400px;
    }
}

.album-cta-text {
    height: 400px;
    padding-left: 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p, h1, h2, h3 {
        margin: 0;
    }
    gap: 24px;
}

@media only screen and (max-width: 1024px) {
    .album-cta {
        flex-direction: column;
        img {
            max-width: 70vw;
            max-height: 70vw;
        }
    }
    .album-cta-text {
        width: auto;
        height: auto;
        padding: 36px 0 0 0;
    }
}