@import "../../scss/sizes.scss";

.nav-btn {
	display: none;
}

header {
	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}	
	.nav-options {
		box-sizing: border-box;
		width: 100vw;
		height: $headerHeight;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 12px 0;
		:not(:last-child) {
			margin-right: 36px;
		}	
	}
}

@media only screen and (max-width: 1024px) {
	.nav-btn {
		display: inline;
		opacity: 1;
        position: fixed;
        top: 32px;
        right: 32px;
	}

	header 
		nav {
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			gap: 1.5rem;
			background-color: var(--mainColor);
			transition: 1s;
			transform: translateY(-100vh);

		}

	header .nav-options {
		position: fixed;
		top: 0;
		
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		:not(:last-child) {
			margin-right: 0;
		}	
		a {
			line-height: 48px;
		}
	}

	header .responsive_nav {
		transform: none;
		background: #000000;
		box-sizing: border-box;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
